<link href="styles.scss" rel="stylessheet">
<body class="full-height-grow">
  <header class ="home-header">
    <div class="container">
      <nav class="home-nav">
        <ul>
          <li><a routerLink="/">Return to Homepage</a></li>
        </ul>
      </nav>
    </div>
  </header>  
  <h1 class ="title">Audio Streaming</h1>
  <div class="container">  
      <div class="parent-section">
        <div class="qos-to-qoe">
          <div class="choice-title"> 
            <p> QoS-to-QoE Mapping</p>
            <div class="call-to-action">
              <a routerLink="/voiceTelephony" class="butn">Higher Resolution</a>
              <a routerLink="/videoTelephony" class="butn">Lower Resolution</a>
            </div>
          </div>
        </div>
        <div class="qos-to-qoe-image">
          <div class="choice-title"> 
            <div class="call-to-action">
              <div class ="img-wrapper">
                <div class="audio-image"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sensitivity-analysis">
          <div class="choice-title"> 
            <p> Sensitivity Analysis</p>
          </div>
          <div class="parent-sub-section">
              <div class="higher-resolution">
                <div class="type">
                <p> Higher Resolution</p>
                </div>
                <div class="call-to-action">
                  <a routerLink="/voiceTelephony" class="butn">Audio Bitrate</a>
                  <a routerLink="/videoTelephony" class="butn">Video Bitrate</a>
                  <a routerLink="/voiceTelephony" class="butn">RTP Packet Loss</a>
                  <a routerLink="/videoTelephony" class="butn">Burstiness</a>
                  <a routerLink="/voiceTelephony" class="butn">Video TS Packets</a>
                  <a routerLink="/videoTelephony" class="butn">Audio Codec</a>
                </div>
              </div>
              <div class="lower-resolution">
                <div class="type">
                  <p> Lower Resolution</p>
                </div>
                <div class="call-to-action">
                  <a routerLink="/voiceTelephony" class="butn">Audio Bitrate</a>
                  <a routerLink="/videoTelephony" class="butn">Audio frame Length</a>
                  <a routerLink="/voiceTelephony" class="butn">Packet Loss Length</a>
                  <a routerLink="/videoTelephony" class="butn">Size of Audio Stream</a>
                  <a routerLink="/voiceTelephony" class="butn">Loss Rate</a>
                  <a routerLink="/voiceTelephony" class="butn"># Audio Frames</a>
                  <a routerLink="/videoTelephony" class="butn">Audio Codec</a>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</body>

