<link href="styles.scss" rel="stylessheet">
<body class="full-height-grow">
  <header class ="home-header">
    <div class="container">
      <nav class="home-nav">
        <ul>
          <li><a routerLink="/">Return to Homepage</a></li>
        </ul>
      </nav>
    </div>
  </header>  
  <div class="containerc"> 
    <section class="join-main-section">
        <div>
            <h1 class="join-text">
                Password Reset
            </h1> 
            <p class="type"> Security Question</p>
            <p class="type" *ngIf="MessageSQ">{{MessageSQ}}</p>
        </div>  
        <form (submit)="passwordReset($event)"  class="join-form">
          <div class="input-group">
              <label>Username:</label>
              <input type="string" id="username">
          </div>   
          <div class="input-group">
            <label>New Password:</label>
            <input type="password" id="newPassword">
        </div> 
        <div class="input-group">
            <label>Password Confirmation:</label>
            <input type="password" id="passwordConfirmation">
        </div> 
        <div class="input-group">
          <label>Security Question Answer:</label>
          <input type="string" id="securityQuestionAnswer">
        </div> 
          <div>
            <button type="submit" class="butn">Submit</button>
          </div> <br>
          <p class="type2"> If you can not recall your question, enter your username and click subbmit</p>
      </form>  
    </section>
  </div>
</body>
