<link href="styles.scss" rel="stylessheet">
<body class="full-height-grow">
  <header class ="home-header">
    <div class="container">
      <nav class="home-nav">
        <ul>
          <li><a routerLink="/">Return to Homepage</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="container">
    <h1 class="title">Introduction to QoS-to-QoE Mapping</h1>
    <div class="qos-container">
        <p>Quality of Service (QoS) and Quality of Experience (QoE) are two important concepts in 
        the field of networking and telecommunications. They are used to evaluate and optimize 
        the performance of networks and applications.</p>
    </div>
    <div class="qos-container">
      <h2>Quality of Service (QoS)</h2>
      <p>QoS refers to the ability of a network to provide a certain level of service to a certain
         type of data or traffic. It is typically measured in terms of network parameters such as 
         bitrate, delay, jitter, and packet loss. Network administrators use QoS to prioritize 
         certain types of traffic, such as voice or video, over others, such as email or file 
         transfers. This helps to ensure that the most critical applications receive the necessary
         resources to function properly.</p>
    </div>
    <div class="qoe-container">
      <h2>Quality of Experience (QoE)</h2>
      <p>QoE, on the other hand, is a measure of how well a service or application is perceived 
        by the end user. It takes into account not only the technical performance of the network,
         but also the user's perspective. QoE is typically measured through user surveys or other 
         methods of subjective evaluation.</p>
    </div>
    <div class="qos-qoe-mapping-container">
      <h2>QoS-to-QoE Mapping</h2>
      <p>QoS-to-QoE mapping is the process of relating QoS metrics to QoE metrics in order to 
        better understand how changes in QoS affect the user's experience. This process involves
         using mathematical models and algorithms to correlate QoS metrics, such as packet loss 
         or delay, with QoE metrics, such as perceived video quality or speech quality. This 
         QoS-to-QoE mapping tool uses the ITU-T G.1000 series of recommendations to map QoS to QoE
         and presents QoE in terms of a Mean Oponion Score (MOS) value. By understanding the 
         relationship between QoS and QoE, network administrators can make more informed decisions
         about how to allocate resources and optimize network performance.</p>
    </div>
  </div>
  
</body>