<link href="styles.scss" rel="stylessheet">
<body class="full-height-grow">
  <header class ="home-header">
    <div class="container">
      <nav class="home-nav">
        <ul>
          <li><a (click)="navigateToHomepage()">Return to Homepage</a></li>
        </ul>
      </nav>
    </div>
  </header>  
  <h1 class ="title">Web-Browsing</h1>
  <div class="container">  
      <div class="parent-section">
        <div class="qos-to-qoe">
          <div class="choice-title"> 
            <p> QoS-to-QoE Mapping</p>
            <div class="call-to-action">
              <a (click)="navigateTo2PS()" class="butn">Two-Page Session</a>
              <a (click)="navigateTo1PS()" class="butn">One-Page Session</a>
              <a (click)="navigateToSTE()" class="butn">Single Timing Event</a>
            </div>
          </div>
        </div>
        <div class="qos-to-qoe">
          <div class="choice-title"> 
            <div class="call-to-action">
              <div class ="img-wrapper">
                <div class="audio-image"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sensitivity-analysis">
          <div class="choice-title"> 
            <p> Sensitivity Analysis</p>
          </div>
          <div class="type">
            <p> Two-Page Session</p>
          </div>
          <div class="call-to-action">
            <a routerLink="/voiceTelephony" class="butn">Expected Max Session Time</a>
            <a routerLink="/videoTelephony" class="butn">Session Time</a>
          </div>
          <div class="type">
            <p> One-Page Session</p>
          </div>
          <div class="call-to-action">
            <a routerLink="/voiceTelephony" class="butn">Expected Max Session Time</a>
            <a routerLink="/videoTelephony" class="butn">Session Time</a>
          </div>
          <div class="type">
            <p> Single Timing Event</p>
          </div>
          <div class="call-to-action">
            <a routerLink="/voiceTelephony" class="butn">Expected Max Session Time</a>
            <a routerLink="/videoTelephony" class="butn">Session Time</a>
          </div>
      </div>
    </div>
  </div>
</body>

