<link href="styles.scss" rel="stylessheet">
<body class="full-height-grow">
  <header class ="home-header">
    <div class="container">
      <nav class="home-nav">
        <ul>
          <li><a routerLink="/">Return to Homepage</a></li>
        </ul>
      </nav>
    </div>
  </header>  
  <h1 class ="title">Video Streaming</h1>
  <div class="container">  
      <div class="parent-section">
        <div class="qos-to-qoe">
          <div class="choice-title"> 
            <p> QoS-to-QoE Mapping</p>
            <div class="call-to-action">
              <a routerLink="/voiceTelephony" class="butn">Higher Resolution</a>
              <a routerLink="/videoTelephony" class="butn">Lower Resolution</a>
            </div>
          </div>
        </div>
        <div class="qos-to-qoe">
          <div class="choice-title"> 
            <div class="call-to-action">
              <div class ="img-wrapper">
                <div class="audio-image"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="sensitivity-analysis">
          <div class="choice-title"> 
            <p> Sensitivity Analysis</p>
          </div>
          <div class="parent-sub-section">
              <div class="higher-resolution">
                <div class="type">
                <p> Higher Resolution</p>
                </div>
                <div class="call-to-action">
                  <a routerLink="/voiceTelephony" class="butn"># Pixels Per Video</a>
                  <a routerLink="/videoTelephony" class="butn">Video Resolution</a>
                  <a routerLink="/voiceTelephony" class="butn">Frame Rate</a>
                  <a routerLink="/videoTelephony" class="butn">Slice/Frame</a>
                  <a routerLink="/voiceTelephony" class="butn">Video TS Packets</a>
                  <a routerLink="/videoTelephony" class="butn">Audio Bitrate</a>
                  <a routerLink="/videoTelephony" class="butn">Video Bitrate</a>
                  <a routerLink="/voiceTelephony" class="butn">RTP Packet Loss</a>
                  <a routerLink="/videoTelephony" class="butn">Packet Loss Burstiness</a>
                </div>
              </div>
              <div class="lower-resolution">
                <div class="type">
                  <p> Lower Resolution</p>
                </div>
                <div class="call-to-action-2">
                  <a routerLink="/voiceTelephony" class="butn">Packet Loss</a>
                  <a routerLink="/videoTelephony" class="butn">Video Content Coding</a>
                  <a routerLink="/voiceTelephony" class="butn">Rebuffering</a>
                  <a routerLink="/videoTelephony" class="butn">Coding Compression</a>
                  <a routerLink="/voiceTelephony" class="butn">Video Width</a>
                  <a routerLink="/voiceTelephony" class="butn">Total Frame Number</a>
                  <a routerLink="/videoTelephony" class="butn">Video Height</a>
                  <a routerLink="/voiceTelephony" class="butn">Measure Time</a>
                  <a routerLink="/videoTelephony" class="butn">Video PLC</a>
                  <a routerLink="/voiceTelephony" class="butn">IP Packet Loss</a>
                  <a routerLink="/videoTelephony" class="butn">Rebuffering Length</a>
                  <a routerLink="/voiceTelephony" class="butn">IP Packet Loss Rate</a>
                  <a routerLink="/voiceTelephony" class="butn"># Rebuffering Events</a>
                  <a routerLink="/videoTelephony" class="butn">GOP Length</a>
                  <a routerLink="/voiceTelephony" class="butn">Rebuffering Factor</a>
                  <a routerLink="/videoTelephony" class="butn">Video Bitrate</a>
                  <a routerLink="/voiceTelephony" class="butn">Number of Videos</a>
                  <a routerLink="/videoTelephony" class="butn">Video Frame Rate</a>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</body>

